/*
font-family: 'Lato', sans-serif;
 */

/* name section styles start */

/* name section styles end */

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 35px;
  line-height: 42px;
  font-weight: 500;
  position: relative;
  padding-bottom: 14px;
}

.section-title::before {
  content: "";
  display: block;
  height: 3px;
  width: 253px;
  left: 0;
  bottom: 0px;
  background-color: #006DFE;
  position: absolute;
}

/* Header section styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding-bottom: 30px;
  z-index: 999;
}

.header__active {
  background-color: #0E1D28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__list-item+.menu__list-item {
  margin-left: 82px;
}

.menu__list-link {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

.menu__list-link:hover, .menu__list-link:focus, .menu__list-link:active {
  opacity: .75;
}

.header__burger {
  position: relative;
  width: 40px;
  height: 40px;
}

.header__burger {
  width: 40px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  right: 0;
}

.header__burger div {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* Header section styles end */

/* Intro section styles start */

.intro {
  min-height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 263px 0 223px;
}

.intro__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: #fff;
  max-width: 620px;
  margin-bottom: 22px;
}

.intro__text {
  color: #fff;
  max-width: 546px;
  margin-bottom: 59px;
}

.search__form-field {
  background-color: transparent;
  background: url(../images/oval.png) no-repeat left top 3px;
  background-size: 20px;
  border: 0;
  min-width: 297px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding: 0 15px 22px 43px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__form-field::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.search__form-btn {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
  background-color: #1B7DFF;
  border: none;
  padding: 15px 39px;
  display: inline-block;
  cursor: pointer;
  transition: all .5s;
  text-align: center;
  text-transform: uppercase;
}

.search__form-btn:hover, .search__form-btn:active, .search__form-btn:focus {
  box-shadow: 0px 0px 19px 7px rgba(27, 125, 255, 0.25);
}

/* Intro section styles end */

/* Benefits section styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-img {
  display: block;
  margin-bottom: 37px;
}

.benefits__card-title {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 26px;
}

.benefits__card-desc {
  max-width: 305px;
  margin-bottom: 39px;
}

.benefits__card-btn {
  text-decoration: none;
  color: #006DFE;
  position: relative;
}

.benefits__card-btn::after {
  content: "";
  height: 8px;
  width: 33px;
  background: url(../images/arrow.svg) no-repeat right center;
  background-size: cover;
  position: absolute;
  color: #006DFE;
  margin-top: 8px;
  margin-left: 21px;
  transition: all .5s;
}

.benefits__card-btn:hover::after, .benefits__card-btn:focus::after {
  margin-left: 26px;
}

/* Benefits section styles end */

/* Places section styles start */

.places {
  padding-bottom: 131px;
}

.places__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 10px;
}

.places__view-btn {
  font-size: 16px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
}

.places__view-btn::after {
  content: "";
  height: 8px;
  width: 33px;
  flex-grow: 1;
  background: url(../images/arrow.svg) no-repeat right center;
  background-size: cover;
  color: #006DFE;
  margin-top: 8px;
  margin-left: 26px;
}

.places__view-btn:hover, .places__view-btn:focus {
  opacity: 0.7;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places__card-size--lg {
  grid-column: span 3;
}

.places__card-size--small {
  grid-column: span 2;
}

.places__card {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.places__card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(21, 24, 36, 0.4);
  z-index: 2;
}

.places__card-size--lg .places__card-img {
  height: 354px;
  object-fit: cover;
  width: 100%;
  transition: all .5s;
}

.places__card-size--small .places__card-img {
  height: 283px;
  object-fit: cover;
  width: 100%;
  transition: all .5s;
}

.places__card:hover .places__card-img {
  transform: scale(1.05);
}

.places__card-title {
  position: absolute;
  left: 29px;
  bottom: 27px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places section styles end */

/* Tours section styles start */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tours__tour:nth-child(2) .tour__pic {
  order: 2;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__link {
  font-size: 16px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.tour__link::after {
  content: "";
  height: 8px;
  width: 33px;
  background: url(../images/arrow.svg) no-repeat right center;
  background-size: cover;
  position: absolute;
  color: #006DFE;
  margin-top: 8px;
  margin-left: 21px;
  transition: all .5s;
}

.tour__link:hover::after, .tour__link:focus::after {
  margin-left: 26px;
}

/* Tours section styles end */

/* Top places section styles start */

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  margin-right: auto;
}

.top__card-likes {
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-right: 20px;
  margin-right: 14px;
}

.top__card-likes::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 4px;
  background: url(../images/heart-ico.svg) no-repeat right;
  margin-left: 4px;
}

.top__card-comments {
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-right: 24px;
}

.top__card-comments::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 4px;
  background: url(../images/comment-ico.svg) no-repeat right;
  margin-left: 8px;
}

.top__card-desc {
  margin-bottom: 31px;
}

.top__card-btn {
  width: 118px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 19px;
  color: #fff;
  background-color: #006DFE;
  transition: all .5s;
  margin: auto 0 0 0;
}

.top__card-btn:hover, .top__card-btn:active, .top__card-btn:focus {
  box-shadow: 0px 0px 19px 7px rgba(27, 125, 255, 0.1);
}

/* Top places section styles end */

/* Videos section styles start */

.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Videos section styles end */

/* Footer section styles start */

.footer {
  background-color: #0E1D28;
  padding: 119px 0;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 3px;
}

.footer__menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: .75;
}

/* Footer section styles end */

@media screen and (max-width:960px) {
  .search__form-field {
    margin-bottom: 40px;
    min-width: 278px;
  }
  .search__form-btn {
    margin-bottom: 40px;
  }
  .benefits {
    margin-bottom: 50px;
  }
  .benefits__wrap {
    box-shadow: none;
  }
  .benefits__cards {
    padding: 0 15px;
    grid-column-gap: 25px;
  }
  .benefits__title {
    padding: 60px 100px 60px 15px;
  }
  .places__card-size--lg, .places__card-size--small {
    grid-column: span 6;
  }
  .tours__tour {
    grid-column-gap: 35px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 15px;
  }
  .tour__desc {
    margin-bottom: 15px;
  }
  .top__cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }
  .top__card {
    grid-column: span 3;
  }
  .top__card-pic {
    margin-bottom: 25px;
  }
  .footer {
    padding: 59px 0;
  }
}

@media screen and (max-width:767px) {
  .header__wrapper {
    padding-top: 35px;
  }
  .header__burger {
    width: 40px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 0;
  }
  .header__burger div {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E1D28;
    z-index: 10;
    padding: 75px;
    transform: translateY(-100%);
    transition: all .5s;
  }
  .menu__active {
    transform: translateY(0);
  }
  .menu__list-item {
    width: 100%;
  }
  .menu__list-item+.menu__list-item {
    margin-left: 0;
    margin-top: 30px;
  }
  .menu__list-link {
    font-size: 40px;
    line-height: 50px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 10;
  }
  .header__nav-close div {
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: 50%;
  }
  .header__nav-close div:first-child {
    transform: rotate(45deg);
  }
  .header__nav-close div:last-child {
    transform: rotate(-45deg);
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__nav .footer__menu {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:510px) {
  .search__form-field {
    width: 100%;
    margin-right: 0;
  }
  .search__form-btn {
    width: 100%;
  }
  .benefits__card {
    grid-column: span 3;
    margin-bottom: 20px;
  }
  .tours__tour {
    display: block;
  }
  .tour__pic-img {
    margin-bottom: 20px;
  }
  .top__card {
    grid-column: span 6;
  }
  .intro {
    padding: 150px 0 223px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }
  .intro__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .places__title {
    margin-bottom: 25px;
  }
}

@media screen and (max-width:300px) {
  .search__form-field{
    min-width: 200px;
  }
  .search__form-field::placeholder{
    font-size: 15px;
    line-height: 20px;
  }
}